.center {
    margin: 8px auto;
    width: 50%;
}

.width__300px {
    width: 300px;
}

div#content {
    padding: 300px 0;
    text-align: center;
}

.alert {
    text-align: left;
    margin-bottom: 30px;
}

#cloud {
    font-size: 10em;
}

.glyphicon {
    color: #274c77;
}

.login-form .btn {
    display: inline-block;
    margin: 0 5px;
}

.login-button {
    color: #e7ecef;
    background-color: #274c77;
}