div#content {
    padding: 300px 800px;
    text-align: center;
}

#cloud {
    font-size: 10em;
}

.login-form .btn {
    margin: 0 5px;
}

.login-button {
    color: #e7ecef;
    background-color: #274c77;
}